    <div class="modal fade" id="project-{{ project.pk }}-Modal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="projectModalLabel">Delete Task {{ project.title }} ?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure want to delete project - "{{ project.title }}" ?</p>
                    <form action="{% url 'project-delete' project.pk %}" id="project-delete-form-{{ project.pk }}" method="POST">
                        {% csrf_token %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                    <button type="submit" form="project-delete-form-{{ project.pk }}" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </div>
    </div>